/CourseType.class
/Format.class
/ManagerType.class
/Position.class
/ScienceDegree.class
/Semester.class
/TeacherTypes.class
/TypeOfFile.class
/TypeOfLesson.class
/requestType.class
/RequestType.class
